<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twitter yeah baby</title>
    </head>

    <body>
        
        <a href="/logout">Log out</a>
        <a href="/mypage">Your page</a> <hr/>

        <form action="/" method="post">
            Title: <input type="text" name="title" /></br/>
            Content: <textarea name="content" cols="50" rows="2" maxlength="140"></textarea>
            <input type="submit" value="Post!">
        </form>

        <% posts.forEach(post => {  %> 
            <div>
                <h3> 
                    <a href="/users/<%= post.user.username %>">
                        <img src="<%= post.user.profilePicture %>" height="40" width="40" />
                        <%= post.user.username %>
                    </a>
                </h3>
                <h4> <%= post.title %> </h4>
                <p> <%= post.content %> </p>
                <p> <%= post.postTime %> </p>
                <hr/>
            </div>
       <% }) %>

    </body>
</html>